In [1]:
pip install pandas

Collecting pandas
  Downloading pandas-2.3.0-cp311-cp311-win_amd64.whl (11.1 MB)
                                              0.0/11.1 MB ? eta -:--:--
     --                                       0.6/11.1 MB 12.0 MB/s eta 0:00:01
     ---                                      1.0/11.1 MB 10.8 MB/s eta 0:00:01
     -----                                    1.5/11.1 MB 10.9 MB/s eta 0:00:01
     ------                                   1.8/11.1 MB 10.4 MB/s eta 0:00:01
     -------                                  2.1/11.1 MB 8.8 MB/s eta 0:00:02
     --------                                 2.3/11.1 MB 8.7 MB/s eta 0:00:02
     ---------                                2.5/11.1 MB 8.1 MB/s eta 0:00:02
     ---------                                2.7/11.1 MB 7.4 MB/s eta 0:00:02
     ----------                               2.8/11.1 MB 7.0 MB/s eta 0:00:02
     ----------                               3.0/11.1 MB 6.4 MB/s eta 0:00:02
     -----------                              3.2/11.1 MB 6.4 MB/s eta 0:00:02
     ------------                             3.4/11.1 MB 6.2 MB/s eta 0:00:02
     ------------                             3.5/11.1 MB 5.9 MB/s eta 0:00:02
     ------------                             3.5/11.1 MB 5.9 MB/s eta 0:00:02
     -------------                            3.7/11.1 MB 5.2 MB/s eta 0:00:02
     --------------                           4.0/11.1 MB 5.3 MB/s eta 0:00:02
     ----------------                         4.5/11.1 MB 5.6 MB/s eta 0:00:02
     -----------------                        4.9/11.1 MB 5.9 MB/s eta 0:00:02
     ------------------                       5.2/11.1 MB 5.9 MB/s eta 0:00:01
     ------------------                       5.2/11.1 MB 5.9 MB/s eta 0:00:01
     ------------------                       5.2/11.1 MB 5.9 MB/s eta 0:00:01
     ------------------                       5.2/11.1 MB 5.9 MB/s eta 0:00:01
     ------------------                       5.2/11.1 MB 5.9 MB/s eta 0:00:01
     ------------------                       5.2/11.1 MB 5.9 MB/s eta 0:00:01
     ------------------                       5.2/11.1 MB 5.9 MB/s eta 0:00:01
     -------------------                      5.4/11.1 MB 4.5 MB/s eta 0:00:02
     --------------------                     5.6/11.1 MB 4.5 MB/s eta 0:00:02
     ---------------------                    5.9/11.1 MB 4.5 MB/s eta 0:00:02
     ---------------------                    6.1/11.1 MB 4.5 MB/s eta 0:00:02
     ----------------------                   6.2/11.1 MB 4.5 MB/s eta 0:00:02
     ----------------------                   6.4/11.1 MB 4.4 MB/s eta 0:00:02
     -----------------------                  6.6/11.1 MB 4.4 MB/s eta 0:00:02
     ------------------------                 6.7/11.1 MB 4.4 MB/s eta 0:00:01
     -------------------------                7.0/11.1 MB 4.4 MB/s eta 0:00:01
     --------------------------               7.3/11.1 MB 4.5 MB/s eta 0:00:01
     ---------------------------              7.7/11.1 MB 4.6 MB/s eta 0:00:01
     -----------------------------            8.1/11.1 MB 4.7 MB/s eta 0:00:01
     -----------------------------            8.2/11.1 MB 4.7 MB/s eta 0:00:01
     -----------------------------            8.2/11.1 MB 4.7 MB/s eta 0:00:01
     -----------------------------            8.2/11.1 MB 4.7 MB/s eta 0:00:01
     -----------------------------            8.2/11.1 MB 4.7 MB/s eta 0:00:01
     -----------------------------            8.2/11.1 MB 4.7 MB/s eta 0:00:01
     -----------------------------            8.2/11.1 MB 4.7 MB/s eta 0:00:01
     -----------------------------            8.2/11.1 MB 4.7 MB/s eta 0:00:01
     -----------------------------            8.2/11.1 MB 4.7 MB/s eta 0:00:01
     -----------------------------            8.2/11.1 MB 4.7 MB/s eta 0:00:01
     ------------------------------           8.4/11.1 MB 3.8 MB/s eta 0:00:01
     ------------------------------           8.5/11.1 MB 3.8 MB/s eta 0:00:01
     --------------------------------         8.9/11.1 MB 3.9 MB/s eta 0:00:01
     ---------------------------------        9.2/11.1 MB 3.9 MB/s eta 0:00:01
     ----------------------------------       9.5/11.1 MB 4.0 MB/s eta 0:00:01
     -----------------------------------      9.8/11.1 MB 4.0 MB/s eta 0:00:01
     ------------------------------------     10.1/11.1 MB 4.1 MB/s eta 0:00:01
     -------------------------------------    10.4/11.1 MB 4.1 MB/s eta 0:00:01
     --------------------------------------   10.6/11.1 MB 4.1 MB/s eta 0:00:01
     ---------------------------------------  10.8/11.1 MB 4.0 MB/s eta 0:00:01
     ---------------------------------------  11.1/11.1 MB 4.0 MB/s eta 0:00:01
     ---------------------------------------- 11.1/11.1 MB 3.9 MB/s eta 0:00:00
Collecting numpy>=1.23.2 (from pandas)
  Downloading numpy-2.3.0-cp311-cp311-win_amd64.whl (13.0 MB)
                                              0.0/13.0 MB ? eta -:--:--
                                              0.2/13.0 MB 4.6 MB/s eta 0:00:03
     -                                        0.5/13.0 MB 6.2 MB/s eta 0:00:03
     --                                       0.8/13.0 MB 6.2 MB/s eta 0:00:02
     --                                       0.9/13.0 MB 6.0 MB/s eta 0:00:03
     ---                                      1.2/13.0 MB 5.6 MB/s eta 0:00:03
     ----                                     1.4/13.0 MB 5.9 MB/s eta 0:00:02
     ----                                     1.4/13.0 MB 5.9 MB/s eta 0:00:02
     ------                                   2.1/13.0 MB 5.9 MB/s eta 0:00:02
     -------                                  2.4/13.0 MB 5.8 MB/s eta 0:00:02
     --------                                 2.6/13.0 MB 5.8 MB/s eta 0:00:02
     ---------                                3.2/13.0 MB 6.5 MB/s eta 0:00:02
     -----------                              3.8/13.0 MB 6.9 MB/s eta 0:00:02
     -----------                              3.8/13.0 MB 6.9 MB/s eta 0:00:02
     -----------                              3.8/13.0 MB 6.9 MB/s eta 0:00:02
     -----------                              3.8/13.0 MB 6.9 MB/s eta 0:00:02
     -----------                              3.8/13.0 MB 6.9 MB/s eta 0:00:02
     -----------                              3.8/13.0 MB 6.9 MB/s eta 0:00:02
     -----------                              3.8/13.0 MB 6.9 MB/s eta 0:00:02
     -----------                              3.8/13.0 MB 6.9 MB/s eta 0:00:02
     -----------                              3.8/13.0 MB 6.9 MB/s eta 0:00:02
     ------------                             3.9/13.0 MB 4.0 MB/s eta 0:00:03
     ------------                             4.0/13.0 MB 3.9 MB/s eta 0:00:03
     -------------                            4.4/13.0 MB 4.1 MB/s eta 0:00:03
     --------------                           4.6/13.0 MB 4.2 MB/s eta 0:00:02
     --------------                           4.7/13.0 MB 4.1 MB/s eta 0:00:03
     ---------------                          5.0/13.0 MB 4.1 MB/s eta 0:00:02
     ---------------                          5.1/13.0 MB 4.1 MB/s eta 0:00:02
     ----------------                         5.3/13.0 MB 4.1 MB/s eta 0:00:02
     -----------------                        5.7/13.0 MB 4.3 MB/s eta 0:00:02
     ------------------                       6.0/13.0 MB 4.3 MB/s eta 0:00:02
     -------------------                      6.5/13.0 MB 4.5 MB/s eta 0:00:02
     ---------------------                    6.9/13.0 MB 4.6 MB/s eta 0:00:02
     ---------------------                    7.1/13.0 MB 4.6 MB/s eta 0:00:02
     ----------------------                   7.4/13.0 MB 4.7 MB/s eta 0:00:02
     -----------------------                  7.6/13.0 MB 4.7 MB/s eta 0:00:02
     ------------------------                 7.9/13.0 MB 4.8 MB/s eta 0:00:02
     ------------------------                 7.9/13.0 MB 4.7 MB/s eta 0:00:02
     ------------------------                 7.9/13.0 MB 4.6 MB/s eta 0:00:02
     ------------------------                 7.9/13.0 MB 4.6 MB/s eta 0:00:02
     ------------------------                 7.9/13.0 MB 4.6 MB/s eta 0:00:02
     ------------------------                 7.9/13.0 MB 4.6 MB/s eta 0:00:02
     ------------------------                 8.0/13.0 MB 4.1 MB/s eta 0:00:02
     ------------------------                 8.1/13.0 MB 4.1 MB/s eta 0:00:02
     -------------------------                8.2/13.0 MB 4.0 MB/s eta 0:00:02
     -------------------------                8.3/13.0 MB 4.0 MB/s eta 0:00:02
     -------------------------                8.4/13.0 MB 3.9 MB/s eta 0:00:02
     --------------------------               8.5/13.0 MB 3.9 MB/s eta 0:00:02
     --------------------------               8.6/13.0 MB 3.9 MB/s eta 0:00:02
     --------------------------               8.7/13.0 MB 3.8 MB/s eta 0:00:02
     ---------------------------              8.8/13.0 MB 3.8 MB/s eta 0:00:02
     ---------------------------              8.9/13.0 MB 3.8 MB/s eta 0:00:02
     ---------------------------              9.0/13.0 MB 3.7 MB/s eta 0:00:02
     ---------------------------              9.1/13.0 MB 3.7 MB/s eta 0:00:02
     ----------------------------             9.1/13.0 MB 3.7 MB/s eta 0:00:02
     ----------------------------             9.3/13.0 MB 3.6 MB/s eta 0:00:02
     -----------------------------            9.5/13.0 MB 3.7 MB/s eta 0:00:01
     -----------------------------            9.7/13.0 MB 3.7 MB/s eta 0:00:01
     ------------------------------           10.0/13.0 MB 3.7 MB/s eta 0:00:01
     -------------------------------          10.3/13.0 MB 3.8 MB/s eta 0:00:01
     --------------------------------         10.6/13.0 MB 3.8 MB/s eta 0:00:01
     ---------------------------------        10.9/13.0 MB 3.8 MB/s eta 0:00:01
     ----------------------------------       11.2/13.0 MB 3.8 MB/s eta 0:00:01
     -----------------------------------      11.5/13.0 MB 3.8 MB/s eta 0:00:01
     -----------------------------------      11.7/13.0 MB 3.9 MB/s eta 0:00:01
     ------------------------------------     11.8/13.0 MB 3.9 MB/s eta 0:00:01
     -------------------------------------    12.1/13.0 MB 3.8 MB/s eta 0:00:01
     -------------------------------------    12.3/13.0 MB 3.7 MB/s eta 0:00:01
     --------------------------------------   12.5/13.0 MB 3.7 MB/s eta 0:00:01
     --------------------------------------   12.6/13.0 MB 3.7 MB/s eta 0:00:01
     ---------------------------------------  12.8/13.0 MB 3.6 MB/s eta 0:00:01
     ---------------------------------------  12.9/13.0 MB 3.6 MB/s eta 0:00:01
     ---------------------------------------  13.0/13.0 MB 3.6 MB/s eta 0:00:01
     ---------------------------------------  13.0/13.0 MB 3.5 MB/s eta 0:00:01
     ---------------------------------------  13.0/13.0 MB 3.5 MB/s eta 0:00:01
     ---------------------------------------- 13.0/13.0 MB 3.4 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\zbook\appdata\roaming\python\python311\site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2025.2-py2.py3-none-any.whl (509 kB)
                                              0.0/509.2 kB ? eta -:--:--
     --------------                         194.6/509.2 kB 5.9 MB/s eta 0:00:01
     -------------------------------------  501.8/509.2 kB 6.3 MB/s eta 0:00:01
     -------------------------------------- 509.2/509.2 kB 5.4 MB/s eta 0:00:00
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2025.2-py2.py3-none-any.whl (347 kB)
                                              0.0/347.8 kB ? eta -:--:--
     -----------------------------          266.2/347.8 kB 8.0 MB/s eta 0:00:01
     -------------------------------------- 347.8/347.8 kB 7.2 MB/s eta 0:00:00
Requirement already satisfied: six>=1.5 in c:\users\zbook\appdata\roaming\python\python311\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-2.3.0 pandas-2.3.0 pytz-2025.2 tzdata-2025.2
Note: you may need to restart the kernel to use updated packages.

  WARNING: The scripts f2py.exe and numpy-config.exe are installed in 'c:\Users\Zbook\AppData\Local\Programs\Python\Python311\Scripts' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.

[notice] A new release of pip is available: 23.1.2 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
import pandas as pd

In [1]:
import pandas as pd

data = {
    'Book Title': ['The Great Gatsby', 'To Kill a Mockingbird', '1984', 'Pride and Prejudice', 'The Catcher in the Rye'],
    'Author': ['F. Scott Fitzgerald', 'Harper Lee', 'George Orwell', 'Jane Austen', 'J.D. Salinger'],
    'Genre': ['Classic', 'Classic', 'Dystopian', 'Classic', 'Classic'],
    'Price': [10.99, 8.99, 7.99, 11.99, 9.99],
    'Copies Sold': [500, 600, 800, 300, 450]
}

df = pd.DataFrame(data)

In [ ]:
df.head()

               Book Title               Author      Genre  Price  Copies Sold
0        The Great Gatsby  F. Scott Fitzgerald    Classic  10.99          500
1   To Kill a Mockingbird           Harper Lee    Classic   8.99          600
2                    1984        George Orwell  Dystopian   7.99          800
3     Pride and Prejudice          Jane Austen    Classic  11.99          300
4  The Catcher in the Rye        J.D. Salinger    Classic   9.99          450

In [4]:
df.describe()

           Price  Copies Sold
count   5.000000     5.000000
mean    9.990000   530.000000
std     1.581139   185.741756
min     7.990000   300.000000
25%     8.990000   450.000000
50%     9.990000   500.000000
75%    10.990000   600.000000
max    11.990000   800.000000

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Book Title   5 non-null      object
 1   Author       5 non-null      object
 2   Genre        5 non-null      object
 3   Price        5 non-null      float64
 4   Copies Sold  5 non-null      int64
dtypes: float64(1), int64(1), object(3)
memory usage: 332.0+ bytes

In [14]:
df_sorted_by_price = df.sort_values(by='Price', ascending=False)

In [15]:
df_sorted_by_price

               Book Title               Author      Genre  Price  Copies Sold
3     Pride and Prejudice          Jane Austen    Classic  11.99          300
0        The Great Gatsby  F. Scott Fitzgerald    Classic  10.99          500
4  The Catcher in the Rye        J.D. Salinger    Classic   9.99          450
1   To Kill a Mockingbird           Harper Lee    Classic   8.99          600
2                    1984        George Orwell  Dystopian   7.99          800

In [32]:
classic_books = df[df['Genre'] == 'Classic']

In [33]:
classic_books

               Book Title               Author    Genre  Price  Copies Sold
0        The Great Gatsby  F. Scott Fitzgerald  Classic  10.99          500
1   To Kill a Mockingbird           Harper Lee  Classic   8.99          600
3     Pride and Prejudice          Jane Austen  Classic  11.99          300
4  The Catcher in the Rye        J.D. Salinger  Classic   9.99          450

In [18]:
expensive_books = df[df['Price'] > 10]

In [19]:
expensive_books

            Book Title               Author    Genre  Price  Copies Sold
0     The Great Gatsby  F. Scott Fitzgerald  Classic  10.99          500
3  Pride and Prejudice          Jane Austen  Classic  11.99          300

In [28]:
copies_sold_by_author = df.groupby('Author')['Copies Sold'].sum()

In [29]:
copies_sold_by_author

Author
F. Scott Fitzgerald    500
George Orwell          800
Harper Lee             600
J.D. Salinger          450
Jane Austen            300
Name: Copies Sold, dtype: int64